<div class="container">
  <h1>Shoot Out! First to <b>{{getRounds()}}</b></h1>
  <h2 ng-hide="getWinner()">Current Player is: <span class="user">{{getPlayerTurn()}}</span></h2>
  <h2 ng-show="getWinner()">Winner is: <span class="user">{{getWinner()}}</span>!!!</h2>
  <button type="submit" class="btn btn-success" ng-click="playerGoal()" ng-hide="getWinner()">Goal!</button>
  <button type="submit" class="btn btn-danger" ng-click="playerMiss()" ng-hide="getWinner()">Nope!</button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Player</th>
      <th>Goals</th>
      <th>Remaining</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in players">
      <td><span class="user">{{player.username}}</span></td>
      <td>{{player.score}}</td>
      <td>{{getRounds() - player.score}}</td>
    </tr>
    </tbody>
  </table>
</div>
