<div class="container">
  <h1>Shoot Out! First to <b>{{getRounds()}}</b></h1>
  <h2><i>Spectating</i></h2>
  <h2 ng-hide="getWinner()">Current Player is: <span class="user">{{getPlayerTurn()}}</span></h2>
  <h2 ng-show="getWinner()">Winner is: <span class="user">{{getWinner()}}</span>!!!</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Player</th>
      <th>Goals</th>
      <th>Remaining</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in players">
      <td><span class="user">{{player[0].username}}</span></td>
      <td>{{player[1]}}</td>
      <td>{{getRounds() - player[1]}}</td>
    </tr>
    </tbody>
  </table>
</div>
